<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.material.mapper.MaterialProductIntroductionMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.material.entity.MaterialProductIntroduction" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="CREATE_USER_ID" property="createUserId"/>
			<result column="CREATE_USER_NAME" property="createUserName"/>
			<result column="MATERIAL_ID" property="materialId"/>
			<result column="MATERIAL_NAME" property="materialName"/>
			<result column="PRODUCT_TYPE" property="productType"/>
			<result column="FILE_NAME" property="fileName"/>
			<result column="FILE_TYPE" property="fileType"/>
			<result column="FILE_URL" property="fileUrl"/>
			<result column="ORDER_NUM" property="orderNum"/>
			<result column="IS_ENABLE" property="isEnable"/>
			<result column="DATA_STATE" property="dataState"/>
			<result column="SH_STATE" property="shState"/>
			<result column="NOT_PASS_TEXT" property="notPassText"/>
			<result column="SH_USER_ID" property="shUserId"/>
			<result column="SH_USER_NAME" property="shUserName"/>
			<result column="SH_TIME" property="shTime"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.material.queryvo.MaterialProductIntroductionView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, CREATE_USER_ID, CREATE_USER_NAME, MATERIAL_ID, MATERIAL_NAME, PRODUCT_TYPE, FILE_NAME, FILE_TYPE, FILE_URL, ORDER_NUM, IS_ENABLE, DATA_STATE, SH_STATE, NOT_PASS_TEXT, SH_USER_ID, SH_USER_NAME, SH_TIME
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
		DATA_STATE='1'
		<if test='queryObj != null and  queryObj.id != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.id)'>
		AND  ID = #{queryObj.id}
		</if>
		<if test='queryObj != null and  queryObj.createTime != null'>
			AND  CREATE_TIME = #{queryObj.createTime}
		</if>
		<if test='queryObj != null and  queryObj.createUserId != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.createUserId)'>
		AND  CREATE_USER_ID = #{queryObj.createUserId}
		</if>
		<if test='queryObj != null and  queryObj.createUserName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.createUserName)'>
		AND  CREATE_USER_NAME = #{queryObj.createUserName}
		</if>
		<if test='queryObj != null and  queryObj.materialId != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.materialId)'>
		AND  MATERIAL_ID = #{queryObj.materialId}
		</if>
		<if test='queryObj != null and  queryObj.materialName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.materialName)'>
		AND  MATERIAL_NAME = #{queryObj.materialName}
		</if>
		<if test='queryObj != null and  queryObj.productType != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.productType)'>
		AND  PRODUCT_TYPE = #{queryObj.productType}
		</if>
		<if test='queryObj != null and  queryObj.fileName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.fileName)'>
		AND  FILE_NAME LIKE concat('%',#{queryObj.fileName},'%')
		</if>
		<if test='queryObj != null and  queryObj.fileType != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.fileType)'>
		AND  FILE_TYPE = #{queryObj.fileType}
		</if>
		<if test='queryObj != null and  queryObj.fileUrl != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.fileUrl)'>
		AND  FILE_URL = #{queryObj.fileUrl}
		</if>
		<if test='queryObj != null and  queryObj.isEnable != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.isEnable)'>
		AND  IS_ENABLE = #{queryObj.isEnable}
		</if>
		<if test='queryObj != null and  queryObj.dataState != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.dataState)'>
		AND  DATA_STATE = #{queryObj.dataState}
		</if>
		<if test='queryObj != null and  queryObj.shState != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.shState)'>
		AND  SH_STATE = #{queryObj.shState}
		</if>
		<if test='queryObj != null and  queryObj.notPassText != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.notPassText)'>
		AND  NOT_PASS_TEXT = #{queryObj.notPassText}
		</if>
		<if test='queryObj != null and  queryObj.shUserId != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.shUserId)'>
		AND  SH_USER_ID = #{queryObj.shUserId}
		</if>
		<if test='queryObj != null and  queryObj.shUserName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.shUserName)'>
		AND  SH_USER_NAME = #{queryObj.shUserName}
		</if>
		<if test='queryObj != null and  queryObj.shTime != null'>
			AND  SH_TIME = #{queryObj.shTime}
		</if>
		<if test='materIdList != null and  materIdList.size() != 0'>
			AND MATERIAL_ID IN
			<foreach item="id" index="index" collection="materIdList" open="(" separator="," close=")">
				'${id}'
			</foreach>
		</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
    <select id="listPage" parameterType="com.edgedo.material.queryvo.MaterialProductIntroductionQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from material_product_introduction 
  		<include refid="where"/>
  </select>

   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.material.queryvo.MaterialProductIntroductionQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from material_product_introduction 
  		<include refid="where"/>

  </select>

	<!-- 切换启用状态	-->
	<update id="updateEnableState" parameterType="java.lang.String" >
		update material_product_introduction set IS_ENABLE=#{isEnable}
			where ID=#{id} and DATA_STATE='1'
	</update>

	<select id="count" parameterType="string" resultType="integer">
		select count(1) from material_product_introduction
		where DATA_STATE='1' and MATERIAL_ID = #{materId}
	</select>

	<update id="updateBatchIds" parameterType="string">
		update material_product_introduction set DATA_STATE='0'
		where DATA_STATE='1'
		and ID in
		<foreach item="id" index="index" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>