<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.material.mapper.MaterialSysMessageMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.material.entity.MaterialSysMessage" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="CREATE_USER_ID" property="createUserId"/>
			<result column="CREATE_USER_NAME" property="createUserName"/>
			<result column="MESSAGE_TITLE" property="messageTitle"/>
			<result column="MESSAGE_IMAGE" property="messageImage"/>
			<result column="MESSAGE_CONTENT" property="messageContent"/>
			<result column="SEND_STATE" property="sendState"/>
			<result column="DATA_STATE" property="dataState"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.material.queryvo.MaterialSysMessageView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, CREATE_USER_ID, CREATE_USER_NAME, MESSAGE_TITLE, MESSAGE_IMAGE, MESSAGE_CONTENT, SEND_STATE, DATA_STATE
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
		DATA_STATE='1'
		<if test='queryObj != null and  queryObj.id != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.id)'>
		AND  ID = #{queryObj.id}
		</if>
		<if test='queryObj != null and  queryObj.createTime != null'>
			AND  CREATE_TIME = #{queryObj.createTime}
		</if>
		<if test='queryObj != null and  queryObj.createUserId != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.createUserId)'>
		AND  CREATE_USER_ID = #{queryObj.createUserId}
		</if>
		<if test='queryObj != null and  queryObj.createUserName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.createUserName)'>
		AND  CREATE_USER_NAME = #{queryObj.createUserName}
		</if>
		<if test='queryObj != null and  queryObj.messageTitle != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.messageTitle)'>
		AND  MESSAGE_TITLE = #{queryObj.messageTitle}
		</if>
		<if test='queryObj != null and  queryObj.messageImage != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.messageImage)'>
		AND  MESSAGE_IMAGE = #{queryObj.messageImage}
		</if>
		<if test='queryObj != null and  queryObj.messageContent != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.messageContent)'>
		AND  MESSAGE_CONTENT = #{queryObj.messageContent}
		</if>
		<if test='queryObj != null and  queryObj.sendState != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.sendState)'>
		AND  SEND_STATE = #{queryObj.sendState}
		</if>
		<if test='queryObj != null and  queryObj.dataState != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.dataState)'>
		AND  DATA_STATE = #{queryObj.dataState}
		</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.material.queryvo.MaterialSysMessageQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from material_sys_message 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.material.queryvo.MaterialSysMessageQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from material_sys_message 
  		<include refid="where"/>
  </select>

	<!-- 逻辑删除 -->
	<update id="logicDeleteById" parameterType="string">
		update material_sys_message set DATA_STATE='0'
		where ID=#{id}
	</update>
  
  
</mapper>