<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>标题</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">审核状态</label>
                    <div class="layui-input-inline">
                        <select name="queryObj.shState">
                            <option value="">请选择审核状态</option>
                            <option value="-1">审核未通过</option>
                            <option value="0" selected>审核中</option>
                            <option value="1">审核通过</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">厂商名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="queryObj.createUserName" placeholder="请输入厂商名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">业务描述</label>
                    <div class="layui-input-inline">
                        <input type="text" name="queryObj.serviceDes" placeholder="请输入业务描述" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm layui-btn-sm" data-type="reload" lay-submit lay-filter="SysCheck-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="SysCheck-list" lay-filter="SysCheck-list"></table>
            <script type="text/html" id="table-SysCheck-list">
                {{# if(d.shState=='0'){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="check"><i class="layui-icon layui-icon-survey"></i>审核</a>
                {{# }else{ }}
                <label>已审核</label>
                {{# } }}
            </script>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
        layui.config({
            base: '/layuiadmin/' //静态资源所在路径
        }).extend({
            index:'lib/index',
            common:'common'
        }).use(['index','table', 'form','common'], function(exports){
            var $ = layui.$
                ,table = layui.table
                ,common = layui.common
                ,admin = layui.admin
                ,form = layui.form;

            //查询
            form.on('submit(SysCheck-search)', function(data){
                var field = data.field;

                //执行重载
                table.reload('SysCheck-list', {
                    where: field,page:{curr:1}
                });
            });

            /*
            * 定义表格
            * */
            defineTable = function () {
                var headers = layui.admin.getTokenHeader();
                table.render({
                    elem: '#SysCheck-list' //指定原始表格的选择器（id选择器）
                    ,url:layui.setter.basePath +'/admin/sysCheck/listpage.jsn' //模拟接口
                    ,headers:headers
                    ,where:{"queryObj.shState":"0"}
                    ,method: 'post'
                    ,parseData: function(res){ //res 即为原始返回的数据
                        return {
                            "code": res.success, //解析接口状态
                            "msg": res.errMsg, //解析提示文本
                            "count": res.totalCount, //解析数据长度
                            "data": res.list //解析数据列表
                        };
                    }
                    ,response: {
                        statusCode: true //规定成功的状态码，默认：0
                    }
                    ,cols: [[
                        {type: 'checkbox', fixed: 'left'}
                    ,{field: 'id',align: 'center', width: 200, title: '主键',sort: true,hide:true}
                    ,{field: 'createTime',align: 'center', width: '13%', title: '创建时间',templet: function(d){
                    return common.DateFormat(d.createTime,"yyyy-MM-dd");},sort: true}
            ,{field: 'createUserName',align: 'center', width: '10%', title: '厂商名称',sort: false}
            ,{field: 'serviceDes',align: 'center', width: '13%', title: '业务描述',sort: false}
            ,{field: 'shState',align: 'center', width: '10%', title: '审核状态',sort: false,templet:function(d){
                if(d.shState=='-1'){
                    return "未通过";
                }else if(d.shState=='1'){
                    return "通过";
                }else{
                    return "审核中";
                }
            }}
            ,{field: 'notPassText',align: 'center', width: '18%', title: '未通过原因',sort: false}
            ,{field: 'shUserName',align: 'center', width: '13%', title: '审核人名',sort: false}
            ,{field: 'shTime',align: 'center', width: '13%', title: '审核时间',templet: function(d){
                return common.DateFormat(d.shTime,"yyyy-MM-dd");},sort: true}
            ,{title: '操作', minWidth: 150, align: 'center', fixed: 'right', toolbar: '#table-SysCheck-list'}
            ]]
            ,autoSort: false
                    ,page: true
                    ,limit: 10
                    ,limits: [10, 20, 30,40]
                    ,text: {
                    none: '暂无相关数据'
                }
            });

                //为toolbar添加事件响应
                table.on('tool(SysCheck-list)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                    /*var data = obj.data;*///获得当前行数据
                    //区分事件
                    switch(obj.event){
                        case 'check':
                            checkVo(obj);
                            break;
                    };
                });

                //监听排序事件
                table.on('sort(SysCheck-list)', function(obj){ //注：sort是工具条事件名，LAY-app-province-list是table原始容器的属性 lay-filter="对应的值"
                    var sort = obj.field;
                    //默认排序
                    switch(obj.field){
                        case 'id':
                            sort ="ID";
                            break;
                        case 'createTime':
                            sort ="CREATE_TIME";
                            break;
                        case 'createUserId':
                            sort ="CREATE_USER_ID";
                            break;
                        case 'createUserName':
                            sort ="CREATE_USER_NAME";
                            break;
                        case 'serviceType':
                            sort ="SERVICE_TYPE";
                            break;
                        case 'serviceId':
                            sort ="SERVICE_ID";
                            break;
                        case 'shState':
                            sort ="SH_STATE";
                            break;
                        case 'notPassText':
                            sort ="NOT_PASS_TEXT";
                            break;
                        case 'shUserId':
                            sort ="SH_USER_ID";
                            break;
                        case 'shUserName':
                            sort ="SH_USER_NAME";
                            break;
                        case 'shTime':
                            sort ="SH_TIME";
                            break;
                        case 'dataState':
                            sort ="DATA_STATE";
                            break;
                    };
                    if(obj.type==null){
                        return;
                    }
                    //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
                    table.reload('SysCheck-list', {
                        initSort: obj//记录初始排序，如果不设的话，将无法标记表头的排序状态。
                        ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                            orderBy: sort+" "+obj.type //排序字段
                        }
                    });
                });
            }
            defineTable();

            //审核页面
            checkVo = function (obj) {
                var serviceHtml = obj.data.serviceHtml;
                var serviceId = obj.data.serviceId;
                layer.open({
                    type: 2
                    ,title: '审核页面'
                    ,content: "../../../"+serviceHtml
                    ,maxmin: true
                    ,area: ['1100px', '600px']
                    ,btn: ['通过', '不通过','关闭']
                    ,end:function(){
                        table.reload('SysCheck-list',{page:{curr:1}});
                    }
                    ,success:function(layero, index){
                        /*setTimeout(function(){
                            layer.full(index);
                        },100);*/
                        var othis = layero.find('iframe').contents().find("#MaterialDetail-form").click();
                        othis.find('input[id="id"]').val(serviceId);
                    }
                    ,yes: function(index, layero){
                        admin.req({
                            url: layui.setter.basePath + "/admin/sysCheck/verifyPassById.jsn",
                            method:'post',
                            data:{"id":obj.data.id},
                            success:function(data){
                                if(data.success){
                                    layer.alert("审核操作成功！");
                                    layer.close(index);
                                }else{
                                    layer.msg(data.errMsg);
                                }
                            }
                        });
                        return false;
                    }
                    ,btn2:function(index, layero){
                        var closeState = true;
                        layer.open({
                            type: 2
                            ,title: '不通过原因'
                            ,content: 'VerifyFailReason.html'
                            ,area: ['450px', '250px']
                            ,btn: ['确定', '取消']
                            ,end:function(){
                                if(closeState){
                                    layer.close(index);
                                }
                            }
                            ,yes: function(index, layero){
                                layer.close(index);

                                var othis = layero.find('iframe').contents().find("#VerifyFailReason-form").click();
                                var failReason = othis.find('textarea[id="failReason"]').val();
                                verifyFail(obj.data.id,failReason);
                            }
                            ,btn2:function(){
                                closeState = false;
                            }
                        });
                        return false;
                    }
                });
            }

            //审核失败
            function verifyFail(id,failReason){
                admin.req({
                    url: layui.setter.basePath + "/admin/sysCheck/verifyFailById.jsn",
                    method:'post',
                    data:{"id":id,"failReason":failReason},
                    success:function(data){
                        if(data.success){
                            layer.alert("审核记录成功！");
                        }else{
                            layer.msg(data.errMsg);
                        }
                    }
                });
            }

        });

</script>
</body>
</html>

